[submodule "wallpaperd/external/SDL"]
	path = wallpaperd/external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "wallpaperd/external/SDL_image"]
	path = wallpaperd/external/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "wallpaperd/external/SDL_mixer"]
	path = wallpaperd/external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "wallpaperd/external/wasm-micro-runtime"]
	path = wallpaperd/external/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime
[submodule "wallpaperd/external/SDL_shadercross"]
	path = wallpaperd/external/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
[submodule "wallpaperd/external/libzip"]
	path = wallpaperd/external/libzip
	url = https://github.com/nih-at/libzip
[submodule "wallpaperd/external/zlib"]
	path = wallpaperd/external/zlib
    url = https://github.com/madler/zlib
[submodule "wallpaperd/external/cava"]
	path = wallpaperd/external/cava
	url = https://github.com/karlstav/cava
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "wallpaperd/external/fftw3"]
	path = wallpaperd/external/fftw3
	url = https://github.com/mechakotik/fftw3
